*{
	margin:0px;
	padding:0px;
}
img{
	border:0px;
}
html {
	width:100%;
	height:100%;
	background-size: cover;
}
body{
	width: 100%;
	background:#b5d0d0;
	color:#285585;
	font-family:Arial;
}

#header{
	width:100%;
	float:left;
}

#content{	
	background-size: cover;
	background-position: center;
	overflow:hidden;	
}
#main{
	height:100%;
	width:100%;
	float:left;
}
#map{ 
	height:100%;
	width:100%;
	float:left;
}


.leaflet-map-pane svg.leaflet-zoom-animated{
	z-index: 1;
}

.star{
  font-size: 4.5em;
} 

/* SIDEBAR MENU */

#menu_slider {
	height: 100%;
    width: 100%;
    display: block;
	margin: 5px;
	border-bottom: solid 1px #97989A; 
}
#menu_slider > .leaflet-control-slider {
	margin: 15px;
	background-color: #414141;
	border-radius: 0px;
	
}
#menu_slider > div > div > input{
	width: 90%;
    height: 33px;
    font-size: 14px;
	color:white;
    padding: 10px;
    border: 0;
    margin: 5px;
	background-color: #414141;
}
#menu_slider p {
	color: #97989A;
}
#menu_slider p1 {
	color: orange;
}
.menu-year {
	display: inline-flex;
	color:  #F6931F;
    font-size: 26px;
    margin: 10px;
    width: calc(100% - 20px);
    border-bottom: solid 1px #97989A;
    padding-bottom: 10px;
}
.menu-search-container {
/*	position: absolute;
	top: 100px;
	left: 0px;*/
	display: inline-table;
	width: calc(100% - 10px);
	margin: 5px;
	border-bottom: solid 1px #97989A;
}
.menu-search-text {
	margin: 10px;
	margin-left: 20px;
	font-size: 18px;
	font-weight: bold;

}
.menu-search {
	margin: 10px;
}
.menu-search-btn {
    background-color: #97989A;
    text-align: center;
	font-size:16px;
    line-height: 30px;
    color: black;
}
#menu-search-div > div {
	width: calc(100% - 30px);
	height: 33px;
	border-radius: 0px;
	box-shadow: 0 0px 0px;
	margin: 4px;
}
#menu-search-div > div > input {
	width: calc(100% - 33px);
	height: 100%;
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	background-color: #414141;
	color: #97989A;

}
#menu-search-div > div > .search-tooltip {
	width: calc(100% - 33px);
}
#menu-search-div > div > .search-tooltip > li {
	background-color: #414141;
	color: #97989A;
}
#menu-search-div > div > .search-cancel {
    right: 33px;
    margin-top: 6px
}
#menu-search-div > div > .search-button {
	width: 33px;
	height: 33px;
	background: url('/images/search-icon.png') center no-repeat #414141;
	background-size: cover;
	border-radius: 0px;
}
.menu-result-container {
/*	position: absolute;
	top: 220px;
	left: 0px;*/
	width: calc(100% - 10px);
	margin: 5px;
}
.menu-result {
	font-size: 16px;
	color:white;
	display: none;
	padding-left: 10px;
}
.menu-result-row {
	height: 33px;
    color: #97989A;
	font-size: 16px;
    margin: 10px;
    line-height: 33px;
    padding-left: 5px;
}
.menu-result-row:hover {
	background-color: #414141;
}
.menu-pie {
	width: 290px;
	height:340px;
/*	padding-top: 198px;
	padding-left: 1px;*/
}

.date-list{
	color:purple;
	font-weight: 500;
}

/* Leaflet */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    min-height: 488px;
    width: 770px;
}
.leaflet-popup-content {
/*	width: calc(100% - 30px);
    height: calc(100% - 20px);*/
    margin: 10px 15px;
    line-height: 1.4;
}
.leaflet-popup-tip-container {
    width: 1px;
    height: 1px;
}
.circle {
	position: relative; 
	border: 2px solid #999; 
	border-radius: 100%; 
	width: 15px; 
	height: 15px;
	line-height: 15px; 
	text-align: center; 
	margin-top: 15px; 
	background-color: #fff; 
	z-index: 2;
}
.circle:first-child {margin-top: 0;}
.circle:before {
	position: absolute; 
	border: 1px solid #999; 
	width: 0; 
	height: 15px; 
	display: block; 
	content: ''; 
	left: 50%; 
	z-index: 1; 
	top: -17px; 
	margin-left: -1px;
}
.circle:first-child:before {display: none;}

.thumb-images img {
	max-height: 40px;	
	border: 1px solid mediumpurple;	
	cursor: pointer;
}
div.thumb-images{
	float: left;
	margin-top:10px;
	margin-bottom: 5px;
}

.popup-title p{
	font-size: 20px;
    color: rebeccapurple;
    font-weight: 500;    
}

.popup-table{
	height: 320px;
}

.img-cont {
	float:left;
	/*width: 50%;*/
}

.img-cont img{
	/*max-height: 199px;*/
	max-width: 280px;
	border: 2px solid gray;	
}

.people {
	float: right;
}

.role {
	font-weight: 600;
    color: blue;
    text-transform: capitalize;
    padding-top: 5px;
}

.name {
	padding-left: 10px;
    font-size: 14px;
}


/* Footer */

#footer{
	width:100%;
	border-top:1px solid #D0D1D2;
	padding:15px 0 70px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6D7072;
}
#footer span{
	float:left;
}
#footer div{
	width:100%;
	margin-left:5px;
}
#footer a{
	color:#0893EF;
	text-decoration:underline
}
#footer a:visited{text-decoration:underline}
#footer a:hover{text-decoration:none}
#footer .bft{text-decoration:none}
#footer .bft:visited{text-decoration:none}
#footer .bft:hover{text-decoration:underline}



/* Data management interface */
.form-horizontal .form-group {
	margin-right: 0;
}

body #survey_form {
	background: white;
	color: black;
	padding: 5px 0 0 10px;
}

.required {
	color: red;
}

.building-item,
.appraisal,
#role-events .row
 {
	border: 1px gray solid;
	margin: 16px 0 10px 0;
	padding: 8px 0 0 30px;
	border-radius: 6px;
}

.person-item {
	border: 1px gray solid;	
	border-radius: 6px;
	padding: 10px 0 0 15px;
}

.form-footer {
	height: 35px;
}

#btnSubmit {
	font-size: 30px;
	background: green;
	padding: 5px 20px 5px 20px;
}

.btn:hover{
	color: orange;
}

#btnSubmit:hover{
	color: green;
	background: yellow;
}

tr.table-title td{
	font-style: bold;
}

.noti {
	font-size: 15px;
	font-weight: bold;
}

#add_event{
	background-image: linear-gradient(to bottom,blue 0,#5071a9 100%);
}

div .botton-add-people{
	left: 70%;
}