#section-header{
  /*background-color: lightblue;*/
}
.page-footer{
  background-color: #696969;
  text-align: center;
  color: white;
}
.footer-section{
  background-color: #4d4d4d;
  color: white;
  text-align: center;
}
